.button-component {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 10px 0;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    background-color: #252627;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background-color: #fff;
        color: #252627;
        border: 3px solid #252627;
    }
}