.nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: rgba(9, 8, 8, 0.913);
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.nav-bar li {
    list-style: none;
    color: #066d89;
    margin: 0px 10px;
    font-size: 30px;
    cursor: pointer;
}

.nav-bar li::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #066d89;
    transition: 600ms;
}

.nav-bar li:hover::after {
    width: 100%;
}

.navbar-logo {
    font-size: 30px !important;
    pointer-events: none;
}

a {
    text-decoration: none !important;
}