.display-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-form {
    height: 30px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    font-size: 20px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: lightblue !important;

    &:focus {
        border-style: solid !important;
        border-width: 1px !important;
        border-color: lightblue !important;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8) !important;
    }
}

.rule-passed {
    color: darkgreen;
    font-size: 15px;
    margin-bottom: 0px !important;
    text-decoration: line-through;
}

.rule-not-passed {
    color: black;
    font-size: 15px;
    margin-bottom: 0px !important;
}

.rule-invalid {
    color: darkred;
    font-size: 15px;
    margin-bottom: 0px !important;
}

.show-pass-request {
    animation: listQuest 0.8s ease;
    list-style: none;
    padding: 0 !important;
}

@keyframes listQuest {
    from {opacity: 0; visibility: hidden}
    to {opacity: 1; visibility: visible}
}

.row-input {
    display: flex;
    flex-direction: row;
}

.row-input i {
    position: absolute;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    right: 11%;
}

