.rule-passed {
    color: greenyellow;
    font-size: 15px;
    margin-bottom: 10px !important;
    text-decoration: line-through;
}

.rule-not-passed {
    color: white;
    font-size: 15px;
    margin-bottom: 10px !important;
}

.show-pass-request {
    animation: listQuest 2s ease;
    list-style: none;
}

@keyframes listQuest {
    from {opacity: 0; visibility: hidden}
    to {opacity: 1; visibility: visible}
}