.header {
    text-align: center;
    padding: 40px 0 0 20px;
    color: #066d89;
    font-weight: bold;
}

.header i {
    font-size: 70px;
}

.header p {
    font-size: 25px;
}

.card-presentation {
    background-color: white;
    width: -moz-fit-content;
    width: 33%;
    height: 520px;
    border-radius: 15px;
    margin: 0 30px;
    opacity: 0.95;
}

.content-description {
    text-align: center;
    padding: 0 60px;
    color: #066d89;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.title-content {
    padding: 20px 60px;
    font-size: 30px;
    color: #066d89;
    font-weight: 600;
}